<!-- <h1>Practicando Ando</h1>
<section>
  <h2>Router Links</h2>
  <nav>
    <a routerLink="/">Home</a> |
    <a routerLink="/about">About</a>
  </nav>
  <router-outlet></router-outlet>
</section>
<section>
  <h2>Forms</h2>
  <label for="formularin">Ingresa tu fruta favorita:
    <input type="text" id="formularin" [(ngModel)]="fruta" />
  </label>
  <button (click)="mostrarFruta()">Mostrar Fruta</button>
  <h2>Reactive Forms</h2>
  <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
    <label>Name
      <input type="text" formControlName="name" />
    </label>
    <label>Email
      <input type="email" formControlName="email" />
    </label>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
  <h4>Formulario De perfil</h4>
  <p>Nombre:{{profileForm.value.name}}</p>
  <p>Email:{{profileForm.value.email}}</p>
  <app-pizzero></app-pizzero>
</section> -->

<section>
  <h2>Tareas Completadas: {{tareasCompletadas}}</h2>
  <app-todo-list (tareasCompletadas)="addCompleteTask($event)"/>
</section>
<section>
  <h2>Digital Clock</h2>
  <app-digital-clock/>
</section>
<section>
  <h2>Formulario</h2>
  <app-formularin/>
</section>
<section>
  <h2>Galeria</h2>
  <app-galeria/>
</section>
<section>
  <h2>Esta es la seccion de los 30 dias</h2>
  <div>
    <app-contador/>
  </div>
</section>
